<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Test site</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/normalize.css" rel="stylesheet">
<link href="css/foundation.min.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">