<nav class="top-bar" data-topbar="" role="navigation">
  <ul class="title-area">
    <li class="name"></li>
    <li class="toggle-topbar menu-icon">
      <a href=""><span>Menu</span></a>
    </li>
  </ul>
  <section class="top-bar-section" style="left: 0%;">
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a id="logout" href="#">Logout</a>
      </li>
    </ul>
  </section>
</nav>
<form class="hide" id="logout_form" action="/logout" method="post"></form>